@page
@model Music_Events.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.ID" />
            <div class="form-group">
                <label asp-for="Booking.ArtistID" class="control-label">Artist</label>
                <select asp-for="Booking.ArtistID" class="form-control" asp-items="ViewBag.ArtistID"></select>
                <span asp-validation-for="Booking.ArtistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.EventID" class="control-label">Event Name</label>
                <select asp-for="Booking.EventID" class="form-control" asp-items="ViewBag.EventID"></select>
                <span asp-validation-for="Booking.EventID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.Payment" class="control-label"></label>
                <input asp-for="Booking.Payment" class="form-control" />
                <span asp-validation-for="Booking.Payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
